.tour-list {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  justify-items: center;
}

.tour-details {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
}

.tour-details:hover {
  background-color: #000000;
  color: #ffffff;
}

.tour-list a {
  color: #000000;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.tour-list a:hover {
  color: #424242;
}
