<div class="view-options">
  <div class="tours-view">
    <%= link_to "TOURS", tours_path %>
  </div>
  <div class="destination-offices-view">
    <%= link_to "DESTINATION OFFICES", destination_offices_path %>
  </div>
  <div class="sales-offices-view">
    <%= link_to "SALES OFFICES", sales_offices_path %>
  </div>
</div>